.navbar-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1.5em;
    align-items: center;
    box-shadow: 0 0 10px 0 rgb(138, 134, 134);
}

.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: ubuntu;
    gap: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logout-btn {
    width: 6em;
    height: 3em;
    background-color: #FF550F;
    color: white;
    border: none;
    font-size: 12px;
    font-family: ubuntu;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .logout-btn {
        width: 7em;
    height: 2.5em;
    font-size: 15px;
    font-weight: 400;
    transition: width 0.5s, height 0.5s;
    }

    .user {
        gap: 20px;
    }
}